/*
"""title
BeispielA
""" 

"""overview
This page describes the existing button variations
"""
*/

/*
---

example: >
    <button>
    hi
    </button>

description:  So amazing

html: >
    <div>
        <button></button>
    </div>
...
---



/*
---

example: >
    <button>
    hi
    </button>

description:  So amazing

html: >
    <div>
        <button></button>
    </div>
...
---


---

example: >
    <button>
    hi
    </button>

description:  So amazing

html: >
    <div>
        <button></button>
    </div>
...
---



/*
---

example: >
    <button>
    hi
    </button>

description:  So amazing

html: >
    <div>
        <button></button>
    </div>
...
---
