$bg-color: #202020;
$primary-color: #282828;
$secondary-color: #009993;
$tertiary-color: #232323;
$text-color-light: #cccccc;

.lsg_body {
  background-color: $bg-color;
  color: $text-color-light;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
}

.lsg_page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.lsg_header {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid $secondary-color;
  border-top: 2px solid $secondary-color;
}

.lsg_headline {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  color: $secondary-color;
}

.lsg_nav {
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  overflow: scroll;
  border: 2px solid $secondary-color;
  border-radius: 5px;

  &__list {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    width: 90%;
  }

  &__header {
    background-color: $secondary-color;
    height: 50px;
    padding-left: 10px;
    font-size: 20px;
    color: $primary-color;
    opacity: 0.6;
    display: flex;
    align-items: center;
  }

  &__item {
    border: 3px solid transparent;
    width: 100%;
    padding-top: 5px;
  }

  &:hover > .lsg_nav__header {
    opacity: 1;
    transition-duration: 0.4s;
  }
}

.lsg_content {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.lsg_article {
  border: 2px solid $secondary-color;
  border-radius: 5px;
  margin-bottom: 50px;
  background-color: $primary-color;

  &__header {
    padding: 10px;
    background-color: $tertiary-color;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: $secondary-color;
    border-bottom: 2px solid $secondary-color;

    &:hover {
      background-color: $secondary-color;
      color: $tertiary-color;
      opacity: 1;
      transition-duration: 0.4s;
    }
  }

  &__sections {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  &:hover > .lsg_article__header {
    background-color: $secondary-color;
    color: $tertiary-color;
    opacity: 1;
    transition-duration: 0.4s;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

.lsg_section {
  padding-left: auto;
  padding-right: auto;
  margin-top: 30px;
  border: 1px solid $secondary-color;
  border-radius: 5px;
  width: 100%;
  opacity: 0.6;

  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
    opacity: 1;
    transition-duration: 0.4s;
  }
}

.lsg_title {
  margin-block-end: 0;
  margin-block-start: 0;
}

.lsg_description {
  padding-left: 10px;
}

.lsg_snippet {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100px;
  height: 100%;
  color: $text-color-light;
  background-color: $tertiary-color;
  border-top: 1px solid $secondary-color;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.lsg_example {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.lsg_snip {
  width: 50%;
  height: 100%;
  border-left: 1px solid $secondary-color;
  overflow: scroll;
}

.lsg_link {
  display: block;
  color: $text-color-light;
  font-size: 16px;
  text-decoration: none;
  border-left: 3px solid $secondary-color;
  width: 50%;

  &:link {
    background: linear-gradient(to right, $secondary-color 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: color 1s ease, background-position 1s ease;
    padding-left: 5px;
    padding-right: 5px;
  }

  &:hover {
    background-position: left bottom;
    color: $primary-color;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

@media screen and (min-width: 1408px) {
    .lsg_page {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .lsg_body {
        font-size: 16px;
    }

    .lsg_link {
        font-size: 18px;
    }

    .lsg_nav {
        max-height: 1000px;
        overflow-y: scroll;
    }
}