@import "colors";

/*
"""title
Button
""" 

"""overview
This Page describes all existing Button Variations
"""

"""category
Atom
"""
*/

.btn {
  background-color: $tertiary-color;
  border-radius: 5px;
  color: $primary-color;
/*
---
description:  Primary Button
example: >
    <button class="btn btn__primary">
    Primary
    </button>

html: >
    <div>
        <button class="btn btn__primary">Primary</button>
    </div>
---
*/
  &__primary {
    width: 250px;
    height: 50px;
    margin-top: 1rem;
  }

  &__primary:hover {
    background-color: $secondary-color;
    color: $primary-color;
    cursor: pointer;
  }

  &__primary:focus {
    outline: none;
  }
}
