$primary-color: #0000ff !default;
$secondary-color: #ff0000 !default;
$tertiary-color: #00ff00 !default;
$interaction-color: #ffff00 !default;

$input-color: #ffffff;

$pill-col-bg: $interaction-color;
$pill-col-border: $primary-color;

$tile-col-bg: $primary-color;

$bar-col-bg: $tertiary-color;
