@import './colors';

$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-secondary: 'Courier New', Courier, monospace;

/*Hero*/
$hero-primary: 5rem;
$hero-secondary: 3rem;
$hero-tertiary: 2rem;

/*Headlines*/
$headline-primary: 3rem;
$headline-secondary: 2.5rem;
$headline-tertiary: 0.9rem;
$headline-weight: bold;

/*Text*/
$text-primary: 1rem;
$text-secondary: 0.9rem;
$text-special: 1.5rem;




