@import './colors';

$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-secondary: 'Courier New', Courier, monospace;

/*Hero*/
$hero-primary: 5rem;
$hero-secondary: 3rem;
$hero-tertiary: 2rem;

/*Headlines*/
$headline-primary: 3rem;
$headline-secondary: 2.5rem;
$headline-tertiary: 0.9rem;
$headline-weight: bold;

/*Text*/
$text-primary: 1rem;
$text-secondary: 0.9rem;
$text-special: 1.5rem;

/*
"""title
Font
"""

"""overview
This Article shows the different fonts
"""

"""category
General
"""
*/

//*************************************************
//Just for the Styleguide

/*
    ---
    description: Primary Font
    example: >
        <div>
            <p class="text-primary primary-font">This is the primary Font.</p>
        </div>

    html: >
        $primary-font
    ---

    */

.primary-font {
    font-family: $font-primary;
    font-size: 18px;
    color: $text-color--dark;
}

/*
    ---
    description: Secondary Font
    example: >
        <div>
            <p class="secondary-font">This is the secondary Font.</p>
        </div>

    html: >
        $secondary-font
    ---

    */

.secondary-font {
    font-family: $font-secondary;
    font-size: 18px;
    color: $text-color--dark;
}

//*************************************************



