@import "./colors";
@import "./font";
@import "./spacing";
@import "./borders";

/*
"""title
Headline
"""

"""overview
This Article shows the different types of headlines
"""

"""category
Atom
"""
*/

.headline {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $headline-weight;
  margin-block-start: 0;
  margin-block-end: 0;

  /*
    ---
    description: Primary Headline Light
    example: >
            <p class="headline__primary headline--light">This Headline is a primary Headline.</p>
  

    html: >
            <p class="headline__primary headline--light">This Headline is a primary Headline.</p>
    ---

    */

  &__primary {
    @extend .headline;
    font-size: $headline-primary;
  }
  /*
    ---
    description: Secondary Headline Light
    example: >
            <p class="headline__secondary headline--light">This Headline is a secondary Headline.</p>

    html: >
            <p class="headline__secondary headline--light">This Headline is a secondary Headline.</p>
    ---

    */

  &__secondary {
    @extend .headline;
    font-size: $headline-secondary;
  }

  /*
    ---
    description: Tertiary Headline Light
    example: >
            <p class="headline__tertiary headline--light">This Headline is a tertiary Headline.</p>

    html: >
            <p class="headline__tertiary headline--light">This Headline is a tertiary Headline.</p>
    ---

    */
  &__tertiary {
    @extend .headline;
    font-size: $headline-tertiary;
  }

  /*
    ---
    description: Special Primary Headline Light
    example: >
            <p class="headline__special headline--light">This Headline is a special Headline.</p>

    html: >
            <p class="headline__special headline--light">This Headline is a special Headline.</p>
    ---

    */
  &__special {
    @extend .headline__primary;
    border: 1px solid $quaternary-color;
    border-top-right-radius: $br-primary;
    border-bottom-right-radius: $br-primary;
    background-color: $quaternary-color;
  }

  &--light {
    color: $text-color;
  }
}
