@import "./colors";
@import "./font";
@import "./spacing";
@import "./borders";

.headline {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $headline-weight;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: $margin-secondary;

  &__primary {
    @extend .headline;
    font-size: $headline-primary;
    margin-left: $margin-tertiary;
  }

  &__secondary {
    @extend .headline;
    font-size: $headline-secondary;
  }

  &__tertiary {
    @extend .headline;
    font-size: $headline-tertiary;
    margin: unset;
  }

  &__special {
    @extend .headline__primary;
    border: 1px solid $quaternary-color;
    border-top-right-radius: $br-primary;
    border-bottom-right-radius: $br-primary;
    background-color: $quaternary-color;
    max-width: $width-quaternary;
  }

  &--light {
    color: $text-color;
  }

  &--dark {
    color: $text-color;
  }
}
