@import './text';

$mq-mobile: 768px;
$mq-tablet: 769px;
$mq-desktop: 1024px;
$mq-widescreen: 1216px;
$mq-fullhd: 1408px;

/*
"""title
Breakpoints
"""

"""overview
This Article shows the Breakpoints for different Devices
"""
*/

/*
    ---
    description: Breakpoints
    example: >
        <div>
            <p class="text__primary text--light">$mq-mobile: 768px;</p>
            <p class="text__primary text--light">$mq-tablet: 769px;</p>
            <p class="text__primary text--light">$mq-desktop: 1024px;</p>
            <p class="text__primary text--light">$mq-widescreen: 1216px;</p>
            <p class="text__primary text--light">$mq-fullhd: 1408px;</p>
        </div>

    html: >
        @media screen and (max-width $mq-mobile) {...} 
        @media screen and (min-width $mq-tablet) {...}
    ---

    */