@import './mediaQueries';
@import './spacing';
@import './colors';
@import './Containers.scss';
/*
"""title
Navigation
"""

"""overview
This Article shows the Navigationbar.
"""

"""category
Molecule
"""

"""below"""
*/

/*
    ---
    description: Navigation
    example: >
        <div class="header">
          <div class="nav__content container-row--space-between">
            <div>
              <button class="pill__secondary pill--searches"></button>
              <button class="pill__secondary pill--favorite"></button>
            </div>
            <div>
              <button class="pill__secondary pill--logout"></button>
            </div>
          </div>
        </div>

    html: >
        <div class="header">
          <div class="nav__content container-row--space-between">
            <div>
              <button class="pill__secondary pill--searches"></button>
              <button class="pill__secondary pill--favorite"></button>
            </div>
            <div>
              <button class="pill__secondary pill--logout"></button>
            </div>
          </div>
        </div>
    ---

    */

@media screen and (max-width: $mq-mobile){
    .nav__content {
        width: $width-primary;
        margin: auto;
    }
}

@media screen and (min-width: $mq-tablet){
    .nav__content {
        width: $width-secondary;
        margin: auto;
    }
}

@media screen and (min-width: $mq-widescreen){
    .nav__content {
        width: $width-tertiary;
    }
}