/*
"""title
Pill
"""

"""overview
This Article contains the Styles of different kinds of Pills
"""

"""category
Atom
"""
*/
@import "./colors";

$pill-margin: 2px;
$pill-diameter-primary: 50px;
$pill-diameter-secondary: 40px;
$pill-diameter-icon: 40px;

.pill {
  background-color: $pill-col-bg;
  border: 1px solid $pill-col-border;

  /*
---
description:  Primary Pill
example: >
    <button class="pill__primary"></button>

html: >
        <button class="pill__primary"></button>
---
*/
  &__primary {
    @extend .pill;
    width: $pill-diameter-primary;
    height: $pill-diameter-primary;
    border-radius: $pill-diameter-primary;
    margin: $pill-margin;
  }

  &__primary:hover {
    background-color: $interaction-color;
    cursor: pointer;
  }

  /*
---
description:  Secondary Pill
example: >
    <button class="pill__secondary"></button>

html: >
    <button class="pill__secondary"></button>
---
*/
  &__secondary {
    @extend .pill;
    width: $pill-diameter-secondary;
    height: $pill-diameter-secondary;
    border-radius: $pill-diameter-secondary;
    margin: $pill-margin;
  }

  &__secondary:hover {
    background-color: $interaction-color;
    cursor: pointer;
  }

  /*
---
description:  Icon Pill Small
example: >
  <div>
    <button class="pill__secondary pill--favorite"></button>
    <button class="pill__secondary pill--searches"></button>
    <button class="pill__secondary pill--logout"></button>
    <button class="pill__secondary pill--displayTile"></button>
    <button class="pill__secondary pill--displayList"></button>
    <button class="pill__secondary pill--back"></button>
    <button class="pill__secondary pill--delete"></button>
    <button class="pill__secondary pill--filter"></button>
    <button class="pill__secondary pill--update"></button>
    <button class="pill__secondary pill--save"></button>
  </div>
html: >
  <div>
    <button class="pill__secondary pill--favorite"></button>
    <button class="pill__secondary pill--searches"></button>
    <button class="pill__secondary pill--logout"></button>
    <button class="pill__secondary pill--displayTile"></button>
    <button class="pill__secondary pill--displayList"></button>
    <button class="pill__secondary pill--back"></button>
    <button class="pill__secondary pill--delete"></button>
    <button class="pill__secondary pill--filter"></button>
    <button class="pill__secondary pill--update"></button>
    <button class="pill__secondary pill--save"></button>
  </div>
---
*/

  /*
---
description:  Icon Pill Large
example: >
  <div>
    <button class="pill__primary pill--favorite-large"></button>
    <button class="pill__primary pill--searches-large"></button>
    <button class="pill__primary pill--logout-large"></button>
    <button class="pill__primary pill--displayTile-large"></button>
    <button class="pill__primary pill--displayList-large"></button>
    <button class="pill__primary pill--back-large"></button>
    <button class="pill__primary pill--delete-large"></button>
    <button class="pill__primary pill--filter-large"></button>
    <button class="pill__primary pill--update-large"></button>
    <button class="pill__primary pill--save-large"></button>
  </div>
html: >
  <div>
    <button class="pill__primary pill--favorite-large"></button>
    <button class="pill__primary pill--searches-large"></button>
    <button class="pill__primary pill--logout-large"></button>
    <button class="pill__primary pill--displayTile-large"></button>
    <button class="pill__primary pill--displayList-large"></button>
    <button class="pill__primary pill--back-large"></button>
    <button class="pill__primary pill--delete-large"></button>
    <button class="pill__primary pill--filter-large"></button>
    <button class="pill__primary pill--update-large"></button>
    <button class="pill__primary pill--save-large"></button>
  </div>
---
*/


  &--favorite {
    background: $pill-col-bg url("./assets/noun_Star_750828.png");
    background-size: 40px 40px;
  }

  &--favorite-large {
    background: $pill-col-bg url("./assets/noun_Star_750828.png") no-repeat center;
    background-size: 50px 50px;
  }

  &--searches {
    background: $pill-col-bg url("./assets/noun_diskette_1939628.png");
    background-size: 40px 40px;
  }

  &--searches-large {
    background: $pill-col-bg url("./assets/noun_diskette_1939628.png");
    background-size: 50px 50px;
  }

  &--logout {
    background: $pill-col-bg url("./assets/noun_logout_1350695.png");
    background-size: 40px 40px;
  }

  &--logout-large {
    background: $pill-col-bg url("./assets/noun_logout_1350695.png");
    background-size: 50px 50px;
  }

  &--displayTile {
    background: $pill-col-bg url("./assets/noun_tiles_777826.png") no-repeat center;
    background-size: 40px 40px;
  }

  &--displayTile-large {
    background: $pill-col-bg url("./assets/noun_tiles_777826.png") no-repeat center;
    background-size: 50px 50px;
  }

  &--displayList {
    background: $pill-col-bg url("./assets/noun_List_433943.png") no-repeat center;
    background-size: 40px 40px;
  }

  &--displayList-large {
    background: $pill-col-bg url("./assets/noun_List_433943.png") no-repeat center;
    background-size: 50px 50px;
  }

  &--back {
    background: $pill-col-bg url("./assets/noun_Arrow_8603.png") no-repeat center;
    background-size: 40px 40px;
  }

  &--back-large {
    background: $pill-col-bg url("./assets/noun_Arrow_8603.png") no-repeat center;
    background-size: 50px 50px;
  }

  &--delete {
    background: $pill-col-bg url("./assets/noun_abort_1258168.png") no-repeat center;
    background-size: 40px 40px;
  }

  &--delete-large {
    background: $pill-col-bg url("./assets/noun_abort_1258168.png") no-repeat center;
    background-size: 50px 50px;
  }

  &--filter {
    background: $pill-col-bg url("./assets/noun_filters_220951.png");
    background-size: 40px 40px;
  }

  &--filter-large {
    background: $pill-col-bg url("./assets/noun_filters_220951.png");
    background-size: 50px 50px;
  }

  &--update {
    background: $pill-col-bg url("./assets/noun_checkmark_67952.png");
    background-size: 40px 40px;
  }

  &--update-large {
    background: $pill-col-bg url("./assets/noun_checkmark_67952.png");
    background-size: 50px 50px;
  }

  &--save {
    background: $pill-col-bg url("./assets/noun_diskette_1939628.png");
    background-size: 40px 40px;
  }

  &--save-large {
    background: $pill-col-bg url("./assets/noun_diskette_1939628.png");
    background-size: 50px 50px;
  }
}
