//width
$width-primary: 100%;
$width-secondary: 80%;
$width-tertiary: 70%;
$width-quaternary: 50%;

//margin
$margin-auto: auto;
$margin-primary: 10%;
$margin-secondary: 30px;
$margin-tertiary: 15px;

//padding
$padding-primary: 5px;

