@import './colors';
@import './font';
/*
"""title
Text
"""

"""overview
This Article shows the different types of text
"""

"""category
Atom
"""

*/

.lsg_container {
    background-color: $text-color--dark;
}

.light-container {
    background-color: #cccccc;
    border-radius: 5px;
    max-height: 90%;
}


.text {
    font-family: $font-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

/*
    ---
    description: Primary Text Light
    example: >
        <div>
            <p class="text__primary text--dark">This Text is a primary Text.</p>
            <div class="lsg_container"><p class="text__primary text--light">This Text is a primary Text.</p></div>
        </div>
    html: >
        <div>
            <p class="text__primary text--dark">This Text is a primary Text.</p>
            <p class="text__primary text--light">This Text is a primary Text.</p>
        </div>
    ---

    */

    &__primary {
        @extend .text;
        font-size: $text-primary;
    }

    /*
    ---
    description: Secondary Text Light
    example: >
        <div>
            <p class="text__secondary text--dark">This Text is a secondary Text.</p>
            <div class="lsg_container"><p class="text__secondary text--light">This Text is a secondary Text.</p></div>
        </div>

    html: >
        <div>
            <p class="text__secondary text--dark">This Text is a secondary Text.</p>
            <p class="text__secondary text--light">This Text is a secondary Text.</p> 
        </div>
    ---

    */
    
    &__secondary {
        @extend .text;
        font-size: $text-secondary;
    }

    /*
    ---
    description: Special Text Light
    example: >
        <div>
            <p class="text__special text--dark">This Text is a special Text.</p>
            <div class="lsg_container"><p class="text__special text--light">This Text is a special Text.</p></div>
        </div>
    html: >
        <div>
            <p class="text__special text--dark">This Text is a special Text.</p>    
            <p class="text__special text--light">This Text is a special Text.</p>  
        </div>
    ---

    */

    &__special {
        @extend .text;
        font-size: $text-special;
        font-weight: bold;
    }
    
    &--light {
        @extend .text;
        color: $text-color;
    }

    &--dark {
        @extend .text;
        color: $text-color--dark;
    }
}