/*
"""title
Button
""" 

"""overview
This Page describes all existing Button Variations. Including: 
Default Button | 
Primary Button
"""
*/
@import "colors";

.btn {
/*
---
description:  Default Button
example: >
    <button class="btn">
    Default
    </button>

html: >
    <div>
        <button class="btn"></button>
    </div>
---
*/
  background-color: $tertiary-color;
  border-radius: 5px;
  color: $primary-color;
/*
---
description:  Primary Button
example: >
    <button class="btn btn__primary">
    Primary
    </button>

html: >
    <div>
        <button class="btn btn__primary"></button>
    </div>
---
*/
  &__primary {
    width: 250px;
    height: 50px;
    margin-top: 1rem;
  }

  &__primary:hover {
    background-color: $secondary-color;
    color: $primary-color;
    cursor: pointer;
  }

  &__primary:focus {
    outline: none;
  }
}
