/*
"""title
Tile-List
"""

"""overview
This Article shows the Layout of a Tile-List.
"""

"""category
Organism
"""

"""downside"""
*/

.tileList {
  /*
    ---
    description: A Tile-List
    example: >
        <div>
            <h2 class="text--dark headline headline__special">Priorität 1</h2>
            <div class="tileList container-column--center">
                <div class="container-column">
                    <div class="tile">
                        <div class="tile__meta">
                            <h6 class="headline__tertiary headline--light">DPA</h6>
                            <h6 class="headline__tertiary headline--light">Politik</h6>
                            <h6 class="headline__tertiary headline--light">2019-06-12T11:18</h6>
                        </div>
                        <div class="tile__content">
                            <p class="tile__text text--light" >EU pocht auf Milliarden-Zahlung durch Großbritannien auch bei No-Deal-Brexit</p>
                            <button class="pill__secondary pill--favorite"></button>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile__meta">
                            <h6 class="headline__tertiary headline--light">DPA</h6>
                            <h6 class="headline__tertiary headline--light">Politik</h6>
                            <h6 class="headline__tertiary headline--light">2019-06-12T11:18</h6>
                        </div>
                        <div class="tile__content">
                            <p class="tile__text text--light" >EU pocht auf Milliarden-Zahlung durch Großbritannien auch bei No-Deal-Brexit</p>
                            <button class="pill__secondary pill--favorite"></button>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile__meta">
                            <h6 class="headline__tertiary headline--light">DPA</h6>
                            <h6 class="headline__tertiary headline--light">Politik</h6>
                            <h6 class="headline__tertiary headline--light">2019-06-12T11:18</h6>
                        </div>
                        <div class="tile__content">
                            <p class="tile__text text--light" >EU pocht auf Milliarden-Zahlung durch Großbritannien auch bei No-Deal-Brexit</p>
                            <button class="pill__secondary pill--favorite"></button>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile__meta">
                            <h6 class="headline__tertiary headline--light">DPA</h6>
                            <h6 class="headline__tertiary headline--light">Politik</h6>
                            <h6 class="headline__tertiary headline--light">2019-06-12T11:18</h6>
                        </div>
                        <div class="tile__content">
                            <p class="tile__text text--light" >EU pocht auf Milliarden-Zahlung durch Großbritannien auch bei No-Deal-Brexit</p>
                            <button class="pill__secondary pill--favorite"></button>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile__meta">
                            <h6 class="headline__tertiary headline--light">DPA</h6>
                            <h6 class="headline__tertiary headline--light">Politik</h6>
                            <h6 class="headline__tertiary headline--light">2019-06-12T11:18</h6>
                        </div>
                        <div class="tile__content">
                            <p class="tile__text text--light" >EU pocht auf Milliarden-Zahlung durch Großbritannien auch bei No-Deal-Brexit</p>
                            <button class="pill__secondary pill--favorite"></button>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile__meta">
                            <h6 class="headline__tertiary headline--light">DPA</h6>
                            <h6 class="headline__tertiary headline--light">Politik</h6>
                            <h6 class="headline__tertiary headline--light">2019-06-12T11:18</h6>
                        </div>
                        <div class="tile__content">
                            <p class="tile__text text--light" >EU pocht auf Milliarden-Zahlung durch Großbritannien auch bei No-Deal-Brexit</p>
                            <button class="pill__secondary pill--favorite"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    html: >
        <div>
            <h2 class="text--dark headline headline__special">Priorität 1</h2>
            <div class="tileList container-row--center">
                <div class="container-row">
                    <div class="tile">
                        <div class="tile__meta">
                            <h6 class="headline__tertiary headline--light">DPA</h6>
                            <h6 class="headline__tertiary headline--light">Politik</h6>
                            <h6 class="headline__tertiary headline--light">2019-06-12T11:18</h6>
                        </div>
                        <div class="tile__content">
                            <p class="tile__text text--light" >EU pocht auf Milliarden-Zahlung durch Großbritannien auch bei No-Deal-Brexit</p>
                            <button class="pill__secondary pill--favorite"></button>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile__meta">
                            <h6 class="headline__tertiary headline--light">DPA</h6>
                            <h6 class="headline__tertiary headline--light">Politik</h6>
                            <h6 class="headline__tertiary headline--light">2019-06-12T11:18</h6>
                        </div>
                        <div class="tile__content">
                            <p class="tile__text text--light" >EU pocht auf Milliarden-Zahlung durch Großbritannien auch bei No-Deal-Brexit</p>
                            <button class="pill__secondary pill--favorite"></button>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile__meta">
                            <h6 class="headline__tertiary headline--light">DPA</h6>
                            <h6 class="headline__tertiary headline--light">Politik</h6>
                            <h6 class="headline__tertiary headline--light">2019-06-12T11:18</h6>
                        </div>
                        <div class="tile__content">
                            <p class="tile__text text--light" >EU pocht auf Milliarden-Zahlung durch Großbritannien auch bei No-Deal-Brexit</p>
                            <button class="pill__secondary pill--favorite"></button>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile__meta">
                            <h6 class="headline__tertiary headline--light">DPA</h6>
                            <h6 class="headline__tertiary headline--light">Politik</h6>
                            <h6 class="headline__tertiary headline--light">2019-06-12T11:18</h6>
                        </div>
                        <div class="tile__content">
                            <p class="tile__text text--light" >EU pocht auf Milliarden-Zahlung durch Großbritannien auch bei No-Deal-Brexit</p>
                            <button class="pill__secondary pill--favorite"></button>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile__meta">
                            <h6 class="headline__tertiary headline--light">DPA</h6>
                            <h6 class="headline__tertiary headline--light">Politik</h6>
                            <h6 class="headline__tertiary headline--light">2019-06-12T11:18</h6>
                        </div>
                        <div class="tile__content">
                            <p class="tile__text text--light" >EU pocht auf Milliarden-Zahlung durch Großbritannien auch bei No-Deal-Brexit</p>
                            <button class="pill__secondary pill--favorite"></button>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile__meta">
                            <h6 class="headline__tertiary headline--light">DPA</h6>
                            <h6 class="headline__tertiary headline--light">Politik</h6>
                            <h6 class="headline__tertiary headline--light">2019-06-12T11:18</h6>
                        </div>
                        <div class="tile__content">
                            <p class="tile__text text--light" >EU pocht auf Milliarden-Zahlung durch Großbritannien auch bei No-Deal-Brexit</p>
                            <button class="pill__secondary pill--favorite"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    ---

    */

  flex-wrap: wrap;
}
